.announcement-container {
    overflow: hidden;
    white-space: nowrap;
}

.announcement-text {
    display: inline-block;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}